@font-face {
  font-family: 'HandelGothic';
  src: url('../handelgothic.ttf') format('truetype');
}


body { margin: 0px; overflow: hidden;}

.info {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    float: right; 
}

.widget {
    padding: 8px;
    background-color: argb(0, 0, 0, 0);
    height: 120px;
    margin: 8px;
    position: relative;
    z-index: -2;
}

#cover {
    height: 100%;
}

.image-box {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .5) inset;
    border-radius: 4px;
    border-width: 1px;
    height: 100%;
    float: right;
}
        
.image-box img {
    position: relative;
    z-index: -1;
    border-radius: 4px;
}

#title {
    font-size: x-large;
    font-weight: bold;
}

p {
    font-family: 'HandelGothic';
    color: white;
    margin: 0px;
    padding-bottom: 2px;
    text-align:right;
}
        
#artist {
    font-size: large;
}
