:root{
  --dark-purple : #6019e4;
  --light-purple : #a5179c;
  --background-color : black; /* rgba(0, 0, 0, 0); */
}

/*
Pour un cadre de 300*400, afin d'avoir la même "longueur" de dégradé (ai alentour de 10%), 6% de 400 = 8% de 300
*/

.animate {
  animation: animateBg 10s ease infinite;
  
  
  height: 10px;
}

.top {
  background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 14%, var(--light-purple) 20%, var(--background-color) 26%, var(--background-color) 54%, var(--dark-purple) 60%, var(--background-color) 66%, var(--background-color) 94%, var(--light-purple) 100%);
  background-size: 500% 100%;
  width: 400px;
}

.bottom {
  background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 14%, var(--dark-purple) 20%, var(--background-color) 26%, var(--background-color) 54%, var(--light-purple) 60%, var(--background-color) 66%, var(--background-color) 94%, var(--dark-purple) 100%);
  background-size: 500% 100%;
  
  transform: translate(0px, 270px) rotate(180deg);
  width: 400px;
}

.right {
  background: linear-gradient(90deg, var(--light-purple) 0%, var(--background-color) 8%, var(--background-color) 32%, var(--dark-purple) 40%, var(--background-color) 48%, var(--background-color) 72%, var(--light-purple) 80%, var(--background-color) 88%, var(--background-color) 100%);
  background-size: 500% 100%;
  
  transform: translate(245px, 135px) rotate(90deg);
  width: 300px;
}

.left{
  background: linear-gradient(90deg, var(--dark-purple) 0%, var(--background-color) 8%, var(--background-color) 32%, var(--light-purple) 40%, var(--background-color) 48%, var(--background-color) 72%, var(--dark-purple) 80%, var(--background-color) 88%, var(--background-color) 100%);
  background-size: 500% 100%;
  
  
  transform: translate(-145px, 115px) rotate(270deg);
  width: 300px;
}

@keyframes animateBg {
  0% {
    background-position: 100% 0;
  }
  
  40% {
    background-position: 100% 0;
  }
  
  
  50% {
    background-position: 50% 0;
  }
  
  90% {
    background-position: 50% 0;
  }
  
  100% {
    background-position: 0 0;
  }
  
}
